@page "/{Language=eng}/{BibleVersion=WEBBE}/{BookCode=JHN}/{ChapterNumber:int}"
@using System.Diagnostics.CodeAnalysis
@using Bible.Backend.Adapters
@using Bible.Backend.Services
@using Bible.Core.Models
@using Bible.Data;
@using System.Text

@* See also: https://github.com/MeysamMoghaddam/BlazorEpubReader/blob/master/Epub.razor *@

@if (_bibleBook is null)
{
    <h1>John 1:1-4 (NIV)</h1>

    <p>
        <sup>1</sup> In the beginning was the Word, and the Word was with God, and the Word was God.
        <sup>2</sup> He was with God in the beginning.
        <sup>3</sup> Through him all things were made; without him nothing was made that has been made.
        <sup>4</sup> In him was life, and that life was the light of all mankind.
    </p>
}
else
{
    <div class="d-flex flex-column align-center">
        <MudPagination BoundaryCount="1" MiddleCount="3" Count="@_chapterCount" Selected="@ChapterNumber" SelectedChanged="ChapterChanged" Class="mt-4" />
    </div>

    <h2 style="color: dimgrey;">@_reference</h2>

    <p>
        @_bibleVerses
    </p>

    <br />
@* 
    <label for="pronunciationToggle" class="mb-3 d-inline-flex align-items-center" style="cursor:pointer;">
        <input id="pronunciationToggle" type="checkbox" @bind="_showPronunciation" class="me-2" />
        Show Pronunciation (ruby text)
    </label>
 *@
    <br />

    @foreach (var note in _verseNotes)
    {
        <div id="footnote-@note.Id" class="footnote">[@note.Id] @note.Content</div>
    }

    @* <ListGenericItems TItem="BibleFootnote" ItemList="@verseNotes" /> *@
    
    <style>
        .footnote {
            font-size: 0.8em;
            font-style: italic;
        }
    </style>
}

@code {
    [Parameter, EditorRequired]
    public string? Language { get; set; }

    [Parameter, EditorRequired]
    public string? BibleVersion { get; set; }

    [Parameter, EditorRequired]
    public string? BookCode { get; set; }

    [Parameter]
    public int ChapterNumber { get; set; } = 1;

    internal static readonly string EngLanguage = "eng";
    internal static readonly string KjvVersion = "KJV";

    string page => $"{BookCode}/{ChapterNumber}";
    bool _showPronunciation = true;
    string? _reference;
    BibleBook? _bibleBook;
    int _chapterCount => _bibleBook?.ChapterCount ?? 0;
    MarkupString? _bibleVerses;
    List<BibleFootnote> _verseNotes = new();

    [Inject]
    private BasicDataService BasicDataService { get; set; } = default!;

    [Inject]
    private BibleBookService BibleBookService { get; set; } = default!;

    [Inject]
    private IServiceProvider ServiceProvider { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        if (Language == EngLanguage && BibleVersion == KjvVersion)
        {
            _bibleBook = await BasicDataService.LoadBookAsync(KjvVersion, BookCode);
        }
        else
        {
            _bibleBook = await BibleBookService.GetBibleBookAsync(Language, BibleVersion, BookCode);
        }

        await LoadChapterAsync(ChapterNumber);
    }

    private async Task LoadChapterAsync(int chapterNumber)
    {
        ChapterNumber = chapterNumber;
        _verseNotes.Clear();

        var bibleChapter = _bibleBook?.Chapters.FirstOrDefault(c => c.Id == ChapterNumber);
        if (bibleChapter == null)
            return;

        _reference = bibleChapter.Reference.ToReference();

        var chapter = new StringBuilder();
        foreach (var bibleVerse in bibleChapter.Verses)
        {
            (var verseMarkup, var footnotes) = bibleVerse.SplitVerseFootnotes();
            var verse = BibleBookExtensions.ToRubyRunes(verseMarkup, BibleBookService.Unihan);
            chapter.Append(verse).Append(" ");
            _verseNotes.AddRange(footnotes);
        }
        _bibleVerses = (MarkupString)chapter.ToString();

        await InvokeAsync(StateHasChanged);
    }

    private void ChapterChanged(int chapterNumber)
    {
        _ = LoadChapterAsync(chapterNumber);
    }
}