@using Bible.Backend.Services
@using Bible.Core.Models.Meta
@using Bible.Usx.Models
@using Unihan.Models
@inject UnihanService UnihanService

<div class="usj-content">
    @if (HasRuby)
    {
        <ruby class="@($"usj-char {Char.Style}")" title="@Char.Metadata">
            @Char.Text
            <rt>@Char.Metadata</rt>
        </ruby>
    }
    else
    {
        <span class="@($"usj-char {Char.Style}")" @attributes="GetStrongAttribute()">@Char.Text</span>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public UsjChar Char { get; set; } = default!;

    [Parameter]
    public UnihanField? Ruby { get; set; }

    private bool HasRuby => Ruby.HasValue && !string.IsNullOrEmpty(Char?.Metadata);

    private Dictionary<string, object>? GetStrongAttribute()
        => !string.IsNullOrEmpty(Char.Metadata) ? new() { ["data-strong"] = Char.Metadata } : null;
}
